# Mac.
.DS_STORE

# Node.
node_modules
coverage
packages/*/dist
.cache
.cloudflare
.wrangler
*.tsbuildinfo

# Tmp files.
*~

# Dot.
*.dot
*.png

# Demo.
demo.js

# Debug
debug.html


.settings

npm-debug.log
