<div class="container demo-page">
	<div class="row">
		<div class="col-md-12">
		<h1 class="page-header">Paint An Image</h1>
		<div>
			<p class="text-justify">In this demo, a <a href="http://en.wikipedia.org/wiki/Feedforward_neural_network">Feedforward Network</a> (2 inputs, 15 hidden units, 3 outputs) will be trained entering the coordinates of every pixel (x, y) of an image as input, and the color as output (RGB values). After each iteration, the network will be directed to fill a canvas, the coordinates of every pixel will be provided and the canvas will be painted with the RGB values outputed by the network.</p>
		</div>
		<div class="text-center">
			<button class="btn btn-primary run-demo" ng-click="train()" ng-disabled="disableTrain">START TRAINING</button>
		</div>
		<hr>
	</div>
	<div ng-show="trainingStarted" class="row text-center">
		<div class="col-sm-2 col-sm-offset-4">
			<a class="thumbnail">
		        <img id="twitter" src="images/twitter.png" alt="Original">
		    </a>
		    <p class="text-center"><small>Original</small></p>
		</div>   
		<div class="col-sm-2"> 
			<a class="thumbnail canvas-fix">
		        <canvas id="canvas-demo4" width="125" height="125"></canvas>
		    </a>
		    <p class="text-center"><small>Painted by Network</small></p>
		</div>
	</div>
	<hr ng-show="trainingStarted">
	<div ng-if="trainingStarted" class="row text-center">
		<strong>Iterations:</strong> <span id="iterations"></span>
	</div>
	<hr ng-show="trainingStarted">
</div>
