<div class="container demo-page">
	<div class="row">
		<div class="col-md-12">
		<h1 class="page-header">Read From Wikipedia</h1>
		<div class="text-justify">
			<p>In this example, a <a href="http://en.wikipedia.org/wiki/Long_short_term_memory" target="_blank">Long Short Term Memory</a> network will be trained with the task of predicting the next character in a stream of text (articles from Wikipedia).</p>
			<p>In the begining the network only ouputs trash, something like: <code>8db8fff8bff8ddb8bfbff868d8bfbddbf8db8d</code>.</p>
			<p>But after a few hours reading Wikipedia, the output text looks more like: <code>no es at asaesetsi aneteteise titis at</code>.</p>
			<p>The network starts to learn how to use spaces to separate words and how to use vowels and consonants to make syllables. Even though the network in this demo is too small to learn real words, it has been proven that when scaling this same model to thousands of neurons, the network can actually learn to <a href="http://machinelearning.wustl.edu/mlpapers/paper_files/ICML2011Sutskever_524.pdf" target="_blank">write in english</a>.</p>
		</div>
	</div>
	</div>
	<div class="row text-center">
		<div class="col-md-12">
			<a href="http://juancazala.com/wiki" class="btn btn-primary run-demo" target="_blank">RUN DEMO</a>
		</div>
	</div>
	<hr>
</div>